// common and main colors;

$white: #FFFFFF;
$colorCardsOne: #9E98DC;
$colorCardsSecond: #FF8FE6;
$marginBetweenElements: 40px;

// colors for bags-icon-shop
$itemsBagColor: #FF353A;

// colors for text
$ColorShadowTextPurple: #534FD2;
$ColorShadowTextRed: #7B1010;
$blackActiveText: #1C2A39;
$greyText: #5C6A79;
$colorActiveDot: #9E98DC;
$colorBgDot: #EFEEF6;
$colorMarker: #756AD3;

// colors for button
$colorButtonText: #4C3DB2;
$colorButtonHover:#EEEDF5;

// Fonts
$font1: "Montserrat";
$font2: "Open Sans";

// Fonts shadows
$PurpleShadowFirstWordInfo: 7px 4px 0px $ColorShadowTextPurple;
$PurpleShadowSecondWordInfo: 17px 16px 0px $ColorShadowTextPurple;
$RedShadowFirstWordInfo: 11px 10px 0px $ColorShadowTextRed;
$RedShadowSecondWordInfo: 17px 16px 0px $ColorShadowTextRed;

// fonts shadow fot media
$MobilePurpleShadowFirstWordInfo: 4px 3px 0px $ColorShadowTextPurple;
$MobilePurpleShadowSecondWordInfo: 6px 3px 0px $ColorShadowTextPurple;
$MobileRedShadowFirstWordInfo: 9px 6px 0px $ColorShadowTextRed;




